$search-color: #4990e2;
$scope-gray: #ececec;
$arrow-gray: #979797;


.splitter-layout {
  overflow: hidden;
  background-color: $scope-gray;
  .layout-pane-primary{
    overflow: hidden;
  }
}

.builder {
      overflow: hidden;
      min-width: 1400px;
    input[type="search"], textarea {

        background-color : $search-color; 
        color: white
      
      }
      input[type="search"]::placeholder{
          color: lightgray
      }
      .layout-splitter{
        width: 3px;
      }
      .splitter-layout {
          .layout-pane {
              overflow:hidden;
          }
          .layout-pane-scroll {
            overflow-y:hidden;
            padding-bottom: 100px;
        }
          .column_head{
            border-top: solid #aaa 2px;
            border-bottom: solid #aaa 2px;
            padding: 10px;
            margin: 0;
            background-color: $scope-gray;
        }
      }
      .collapsible {
        margin-left: 15px;
        background-color: $scope-gray;
        color: black;
        display: inline-block;
        cursor: pointer;
        width: 100%;
        border-bottom: solid #aaa 2px;
        text-align: start;
        outline: none;
        font-size: 15px;
        position: relative;
        overflow-x: hidden;
        .arrow-up {
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          display: inline-block;
          border-bottom: 5px solid $arrow-gray;
          margin-left: 20px;
        }
        .arrow-down {
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          display: inline-block;
          border-top: 5px solid $arrow-gray;
          margin-left: 20px;
        }
        
        
      }
    ul {
        list-style-type: none;
        li {
            border-bottom: solid #aaa 2px;
            background-color: $scope-gray;
            border-radius: 25px;
            padding-left: 10px;
            cursor: pointer;
        }
        li:hover{
            background-color: lightgray;
        }
    }
      // .collapsible::after{
      //   color: #444;
      //   left: 0;
      //   content: ' ▾';
      // }
      .active, .collapsible:hover {
        background-color: lightgray;
      }
      
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
      }
}
