$search-color: #4990e2;
$scope-gray: #ececec;
$arrow-gray: #979797;
$dropdown-color:#656565;
$input-background: #fbfbfb;
$addnew-color: #ebf3fc;
$addnew-hover:#cee5ff;
$feature-color: #e3e3e3;
$quote-color: #7ed321;

.splitter-layout {
  overflow: hidden;
  background-color: $scope-gray;
  .layout-pane-primary{
    overflow: hidden;
  }
}

.builder {
      overflow: hidden;
      min-width: 1400px;
      input[type="search"], textarea {

        background-color : $search-color; 
        color: white
      
      }
      input[type="search"]::placeholder{
          color: lightgray
      }
      .layout-splitter{
        width: 3px;
      }
      .splitter-layout {
        min-width: 1000px;
          .layout-pane {
              overflow:hidden;
          }
          .layout-pane-scroll {
            overflow-y:hidden;
            padding-bottom: 100px;
            padding-left: 13px;
        }
          .column_head{
            border-top: solid #aaa 2px;
            border-bottom: solid #aaa 2px;
            padding: 5px;
            margin: 0;
            background-color: $scope-gray;
            min-width: 200px;
            height: 32px;
            p {
              padding: 0;
              margin: 0;
              text-align: center;
            }
        }
        .add_new {
          text-align: left;
          padding-left: 20px;
          height: 20px;
          border-bottom: solid #aaa 2px;
          background-color: $addnew-color;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          p {
            padding: 0;
            margin: 0;
          }
          img {
            height: 10px;
            margin-right: 3px;
            cursor: pointer;
            object-fit: contain;
          }
        }
        .add_new:hover{
          background-color:$addnew-hover;
        }
        .add_new:active{
          background-color:$search-color;
        }
      }
      .collapsible {
        margin-left: 15px;
        background-color: $scope-gray;
        color: black;
        display: inline-block;
        cursor: pointer;
        width: 100%;
        border-bottom: solid #aaa 2px;
        text-align: start;
        outline: none;
        font-size: 1em;
        position: relative;
        overflow-x: hidden;
        .arrow-up {
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          display: inline-block;
          border-bottom: 5px solid $arrow-gray;
          margin-left: 20px;
        }
        .arrow-down {
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          display: inline-block;
          border-top: 5px solid $arrow-gray;
          margin-left: 20px;
        }
        
        
      }
      // .collapsible::after{
      //   color: #444;
      //   left: 0;
      //   content: ' ▾';
      // }
      .active, .collapsible:hover {
        background-color: lightgray;
      }
      
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        ul {
          list-style-type: none;
          .selected{
            background-color: white;
          }
          .not-selected{
            opacity: 0.5;
          }
          .temp-select{
            opacity: 1;
            background-color: #f1f1f1
          }
          li {
              border-bottom: solid #aaa 2px;
              background-color: $scope-gray;
              border-radius: 25px;
              padding-left: 10px;
              cursor: pointer;
             
          }
          li:hover{
              background-color: lightgray;
          }
      }
      }
      .in-quote{
        border: solid $quote-color 1px;
      }
      .feature_variant {
        background-color: white;
        min-height: 100px;
        padding: 20px 20px;
        min-width: 670px;
        font-size: 10px;
        margin: 10px 55px 10px 15px;
        .variant_row {
          img {
            height: 10px;
            margin-right: 3px;
            cursor: pointer;
            object-fit: contain;
          }
          p {
            min-width: 20px;
            display: inline-block;
            margin-right: 1px;
            font-size: 10px;
          }
          .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            display: inline-block;
            border-bottom: 5px solid $arrow-gray;
            margin-left: 20px;
          }
          .arrow-down {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            display: inline-block;
            border-top: 5px solid $arrow-gray;
            margin-left: 20px;
          }
          .estimate_content {
            width: 100%;
            .content_row{
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             margin-right: 10px;
             img {
               margin: 0;
             }
             div {
               p {
                  text-align: center;
                  margin:0;
                  padding: 0;
               }
               input {
                margin:0;
                padding: 0;
                width: 34px;
                text-align: right;
                background-color: $input-background;
                border: none;
               }
             }
            }
          }
        }
        .dropdown-menu {
          background-color: $dropdown-color;
           opacity: 0.9;
          color: lightgray;
        }
        .dropdown-item:hover {
          background-color: gray;
          color: white;
          cursor: pointer;
        }
        .Rectangle {
          width: 80%;
          background-color : $input-background;
          display: inline-block; 
          border: none;
        }
        
       
      }
      .features {
        background-color: $feature-color;
        ul {
          list-style-type: none;
          
          li {
            border-bottom: solid #aaa 2px;
            border-left: none;
            background-color: $feature-color;
            padding-left: 10px;
            cursor: pointer;
            
          }
          li:hover{
            background-color: white;
          }
        }
      }
      .green-dot{
        height: 6px;
        width: 6px;
        background-color: $quote-color;
        border-radius: 10px;
        display: inline-block;
        margin-right: 10px;
        left: 20px;
      }
      .search-entries{
        ul {
          list-style-type: none;
          overflow: auto;
          max-height: 200px;
          li:hover {
            background-color: $search-color;
            color: white;
            cursor: pointer;
          }
        }
        
      }
      
}

@media (max-width: 767px) {
  .builder {
    min-width: 1400px;
    .layout-pane-scroll {
      padding-bottom: 100px;
      padding-left: 80px;
      margin-left: 30px;
    }
    .splitter-layout {
      min-width: 1400px;
    }
    .feature_variant {
      overflow: auto;
      max-height: 200px;
      div {
        display: inline-block;
        min-width: 200px;
        min-height: 30px;
      }
    }
    .add_new {
      margin-left: 15px;
    }
  }
}