$input-background: #efefef;
$search-color: #4990e2;
$scope-color: #efefef;
$scopeselect-color: #fbfbfb;
$arrow-gray: #979797;




.dashboard {
    background-color: white;
    overflow: hidden;
    min-width: 1400px;
    padding: 20px;
    input {
        margin:0;
        padding: 0;
        width: 528px;
        height: 23px;
        text-align: left;
        background-color: $input-background;
        border: none;
        
       }
       input[type="search"], textarea {
        color : $search-color; 
      }
    .project-select {
        overflow: auto;
        width: 100%;
        min-width: 1000px;
        .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            display: inline-block;
            border-bottom: 5px solid $arrow-gray;
            margin-left: 20px;
            cursor: pointer;
          }
          .arrow-down {
            
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            display: inline-block;
            border-top: 5px solid $arrow-gray;
            margin-left: 20px;
            cursor: pointer;
            
          }
        
        .scope {
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
            font-size: 18px;
            overflow: auto;
            height: 80vh;
            
            
            
            li {
                background-color: $scope-color;
                p {
                    padding: 15px;
                    padding-bottom: 0;
                    font-size: 1em;
                    font-weight: bold;
                    
                }
            }
            ul {
                list-style-type: none;
                padding-left: 0;
                background-color: $scopeselect-color;
            }
            .scope-versions{
                li { 
                    background-color: $scopeselect-color;
                    border-bottom: solid lightgray 1px;
                    margin: 30px;
                    padding: 10px 0;
                    font-size: 0.8rem;
                    .title{
                        font-weight: bold;
                    }
                    button {
                        width: 60px;
                        height: 20px;
                        padding: 0;
                        font-size: 10px;
                        margin-right: 2px;
                      }
                      .btn-light-blue {
                        background-color: $button-color;
                      }
                      .btn-light-blue:hover {
                        background-color: blue;
                      }
                    p {
                        padding: 0;
                        padding-top: 10px;
                        font-size: 1rem;
                        font-weight: normal;
                    }
                    .unapprove{
                        color: red;
                    }
                    .approve{
                        color: green;
                    }
                    .description {
                        font-size: 10px;
                        font-weight: normal;
                    }
                }    
          }
        }
    }
    .filter {
        font-size: 10px;
        p {
            font-size: 10px;
        }
        input {
            height: 10px;
            width: 10px;
        }
    }
    
}