$excel-hover: #fdffe2;

.excel_table {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    .selected {
            background-color: $excel-hover;
        td {
            overflow: hidden ;
            white-space: normal;
            text-overflow: clip;

        }
    }
    thead{
        z-index: 0;
        background-color: white;
        position: sticky;
    }
    td {
        white-space: nowrap;
        overflow: hidden ;
        text-overflow: ellipsis;
        max-width: 200px;
    }
    th { position: sticky; top: 0;  z-index: 0;  background-color: white; }
    .table{
        overflow-y: hidden;
    }
    .tbody {
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 10;
        position: relative;
    }
    .excel_export {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 3vw;
    }
    .table-hover {
        .table{
            overflow-y: hidden;
        }
        tbody{
            tr:hover{
                background-color: $excel-hover;
           }
        }
    }

   
}