$navbar-color: #d8d8d8;
$button-color: #4990e2;

.navbar {
  background-color: $navbar-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 40px;
  .navbar-image {
    height: 17px;
    width: 26px;
    position: absolute;
    left: 0px;
  }
  .nav {
    display: flex;
    align-items: center;
    .mode-btn{
      display: inline-block;
      background-color: white;
      width: 150px;
      margin: 0;
      text-align: center;
      font-size: 15px;
      + img {
        height: 20px;
        width: 20px;
        object-fit: contain;
      }
    }
    img {
      height: 30px;
      width: 30px;
      object-fit: contain;
    }
    a {
      margin: 0;
    }
    li {
      p {
        margin: 0;
        font-weight: bold;
      }
    }
    button {
      width: 90px;
      height: 24px;
      padding: 0;
    }
    .btn-light-blue {
      background-color: $button-color;
    }
    .btn-light-blue:hover {
      background-color: blue;
    }
    .btn-white {
      background-color: white;
      width: 66px;
    }
    .btn-white:hover {
      color: blue;
      border-color: blue;
    }
  }
}
