$footer-blue : #cee5ff;
$footer-border: #4990e2;
$footer-right: #d8d8d8;


html, body {
    margin: 0;
     height: 100%;
      max-height: 100%; 
      min-width: 1400px;
      min-height: 60%;
      overflow: hidden;
      box-sizing: border-box;
    font-size: 12px; }

.btn-round {
    border-radius: 22.5px;
}

.mode {
    min-width: 1400px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 29, 53, 0.5);
  
}

.ReactVirtualized__Table__row:hover{
    background-color: white;
    cursor: pointer;
}
